[user]
  name = Arnold French
  email = arnold@prometsource.com
[color]
  ui = always
[merge]
  summary = true
  verbosity = 1
  tool = mvimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[mergetool "mvimdiff"]
  cmd="mvim -c 'Gdiff' $MERGED"
  keepbackup=false
[push]
  default = simple
[diff]
  algorithm = patience
  renames = copies
[core]
  filemode = false
  autocrlf = input
  excludesfile = ~/.global_ignore
  trustctime = false
  pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[rerere]
  enabled = true
[pager]
  diff = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
  show = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
  log = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[rebase]
  autosquash = true
[init]
  templatedir = ~/.git-templates
