[submodule "roles/common/files/dotfiles/.zprezto"]
	path = roles/common/files/dotfiles/.zprezto
	url = git@github.com:dsdeiz/prezto.git
[submodule "roles/common/files/dotfiles/.vim"]
	path = roles/common/files/dotfiles/.vim
	url = git@github.com:dsdeiz/vimfiles.git
