! ---------------------------------------------------------
! URxvt Settings
! ---------------------------------------------------------

! URxvt.font: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
! URxvt.boldFont: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt.font: xft:Monaco:size=7.5
URxvt.boldFont: xft:Monaco:style=bold:size=7.5
! URxvt.font: xft:DejaVu Sans Mono:size=10
! URxvt.boldFont: xft:DejaVu Sans Mono:style=bold:size=10

URxvt.transparent: 1
URxvt.shading: 14
URxvt.scrollBar: false
URxvt.termName: rxvt-256color
URxvt.cursorBlink: 1
! URxvt*cursorColor: #e8621d

URxvt.urgentOnBell: 1

URxvt.perl-ext-common:  default,matcher
URxvt.urlLauncher:      /usr/bin/chromium-browser
URxvt.matcher.button:   1

! URxvt.cursorColor:      #fd971f

! ---------------------------------------------------------
! Terminal Colors
! ---------------------------------------------------------

#include ".xcolors/archlinux/wolfcore.xresources"

! ---------------------------------------------------------
! Vim Settings
! ---------------------------------------------------------

! Vim*font: xft:Lucida Sans Typewriter:size=10
! Vim*boldFont: xft:Lucida Sans Typewriter:size=10
! Vim*transparent: 1

! ---------------------------------------------------------
! Xft Settings
! ---------------------------------------------------------

Xft.autohint: 1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb
